<%= @game.player1.name %>: <%= @game.player1.hit_points %> HP <%= @game.player2.name %>: <%= @game.player2.hit_points %> HP
<br>
<h1><%= @game.current_player.name %> has hit <%= @game.current_opponent.name %>!</h1>
<br>
<h1> <%= @game.current_opponent.name %> IS DEAD!</h1>
<form action="/" >
  <button type="submit" value="Rest">Play again!</button>
</form>
