

<div>
  <h2> <%= @game.player_1.name %> v <%= @game.player_2.name %> </h2>
</div>
<div>
  <h3> <%= @game.current_player.name %>'s turn! </h3>
</div>
<div>
  <h3> <%= @game.player_2.name %>:  <%= @game.player_2.hitpoints %> HP </h3>
</div>

<form action= '/attack1'>
  <input type='submit' value='ATTACK!'/>
</form>
