<%= @game.player1.name %>: <%= @game.player1.hit_points %> HP <%= @game.player2.name %>: <%= @game.player2.hit_points %> HP
<br>
<h1><%= @game.player1.name %> VS <%= @game.player2.name %> - GAME ON!!!</h1>
<%= @game.current_player.name %>, it's your go!
<form action="/attack">
	<button type="submit" value="Attack">Attack <%= @game.current_opponent.name %></button>
</form>
